.header__poster {
    padding: 20px 0;
    background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.header__poster-descr {
    color: var(--white-color);
    font-family: var(--com);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 166px;
}

.header__nav {
    padding: 29px 0;
    background: var(--blackColor);
}

.header__nav-logo {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.header__nav-logo span {
    color: var(--white-color);
    font-family: var(--com);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 30px;
}

.header__nav-list-link {
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 14px;
    font-weight: 400;
    transition: .5s;
    position: relative;
    display: flex;
    justify-content: center;
}

.header__nav-list-link:hover {
    color: #ED8E00;
}

.header__nav-list-link::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--orangeColor);
    position: absolute;
    left: -10%;
    bottom: -41px;
    border-radius: 23px 23px 0 0;
    transition: .5s;
}

.header__nav-list-link:hover.header__nav-list-link::after {
    width: 120%;
}
.text_bart{
    color: yellow;
    font-family: var(--mon);
    font-style: initial;
    font-size: 50px;
}

.container{
    display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
}